_README.txt
Reading/

*.link


*~

*.aux
*.bbl
*.blg
*.log
*.xml
*.run
*-blx.bib

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.sql
*.sqlite

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

*.pyc
